////////////// BODY //////////////
body {
	background-image: url(../img/chalkboard.jpg);
}

////////////// NAV //////////////
nav {
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	color: black;
	top: 0%;
}


////////////// TITLE //////////////
.img-container{
	position: relative;
	padding: 0 !important;
}

img {
	width: 100%;
  height: auto;
  max-width: 100%;
}

#typed {
	position: absolute;
	font-size: 3rem;
	background-color: black;
	color: white;
	top: 55%;
}

@media only screen and (max-width: 736px) {
	#typed {
	position: absolute;
	font-size: 1rem;
	background-color: black;
	color: white;
	top: 55%;
}
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


////////////// INFO //////////////
.info {
	display: inline-block
}
.juggle-container {
	display: inline-block
	// position: absolute
	// width: 10%;
 //  height: auto;
  max-width: 50%;
	// width:  !important;
}
